@import url('variables.css');

.p {
    width: 80%;
    display: flex;
    margin: 0px auto;
    font-size: 1.1rem;
    font-weight: 400;
    color: #666666;
    line-height: 1.8;
  }

  .m {
    width: 80%;
    display: flex;
    margin: 0px auto;
  }

  * {
   font-family: var(--font-primary);
  }
