/* اضافه کردن فونت‌های Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Inter:wght@400;600&display=swap');

:root {
    --primary-color: #0070f3;
    --secondary-color: #2d353f; /* رنگ ثانویه */
    --background-color: #f0f2f5;
    --text-color: #000000; /* رنگ متن اصلی */

    --primary-color-hover: #171c22; /* رنگ برای hover */
    --primary-color-active: #3f4c5b; /* رنگ برای active */
    --primary-color-focus: #35434c; /* رنگ برای focus */

    --secondary-color-hover: #4b5d66; /* رنگ برای hover در دکمه‌های ثانویه */
    --secondary-color-active: #43535c; /* رنگ برای active در دکمه‌های ثانویه */
    --secondary-color-focus: #3b4953; /* رنگ برای focus در دکمه‌های ثانویه */

    --border-color: #d1d8e0; /* رنگ حاشیه */
    --error-color: #e74c3c; /* رنگ خطا */
    --success-color: #2ecc71; /* رنگ موفقیت */
    --warning-color: #f39c12; /* رنگ هشدار */
}

:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
}
