.container {
  display: flex;
  width: 80%;
  height: 60%;
  gap: 50px; 
  align-items: center;
  margin: 100px auto;
}

.container.reverse {
  flex-direction: row-reverse; /* جابه‌جایی ترتیب عناصر */
}

.child {
    position: relative;
    display: flex; /* فعال‌سازی flexbox */
    aspect-ratio: 1 / 1; /* مربع، چون عرض = ارتفاع */
    justify-content: center; /* مرکز کردن افقی */
    align-items: center; /* مرکز کردن عمودی */
}

.child2 {
    position: relative;
    display: flex; /* فعال‌سازی flexbox */
    justify-content: center; /* مرکز کردن افقی */
    flex-direction: column;
}

.img {
  width: 90%;
  object-fit: cover; /* تناسب تصویر حفظ شود */
  aspect-ratio: 1 / 1; /* مربع، چون عرض = ارتفاع */
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

/* عنوان اصلی */
.child2 h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333333;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: left; /* متن به سمت چپ */
}

/* استایل پاراگراف */
.child2 p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #666666;
  line-height: 1.8;
  text-align: justify; /* متن کاملاً تراز */
  margin: 0;
}

@media (max-width: 768px) {
  .container {
      display: flex;
      width: 90%;
      gap: 0px; 
      margin: 60px auto;
      flex-direction: column;
      height: auto;
    }

    .img {
      width: 100%;
      aspect-ratio: 1 / 1; /* مربع، چون عرض = ارتفاع */
    }
  
  .child {
      position: relative;
      flex: 1;
      width: 100%;
  }

  .child2 {
      position: relative;
      width: 100%;
      flex: 1;
      display: flex; /* فعال‌سازی flexbox */
      flex-direction: column; /* مرتب‌سازی محتوا به صورت عمودی */
      justify-content: flex-start; /* چسباندن محتوا به بالا */
      align-items: flex-start; /* چسباندن محتوا به سمت چپ (در صورت نیاز) */
  }

  .child2 h1 {
    font-size: 1.5rem;
  }

  .child2 p {
    font-size: 1rem;
  }

  .container.reverse {
    flex-direction: column; /* جابه‌جایی ترتیب عناصر */
  }

}