.container{
    width: 100%;
    padding: 100px 0px;
    margin: 0px auto;
}

  .textParagraph {
    width: 80%;
    display: flex;
    margin: 0px auto;
    color: #666666;
    line-height: 1.8;
  }

  @media(max-width: 768px){
    .container {
        width: 100%;
    }
}